.modal {
  width: 400px;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px 40px;
  margin-bottom: 40px;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translate(-59%, -50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  -webkit-box-shadow: 2px -8px 105px -18px rgba(0,0,0,0.18);
  -moz-box-shadow: 2px -8px 105px -18px rgba(0,0,0,0.18);
  box-shadow: 2px -8px 105px -18px rgba(0,0,0,0.18);
  transition: 0.3s ease-in;
}

.modal .modal-header {
  display: flex;
  justify-content: center;
}

.modal .modal-header > h2 {
  font-size: 15px;
  font-weight: 400;
}

.modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal .modal-body {
  padding-bottom: 30px;
}

.modal .modal-body > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .field-input {
  width: 100%;
}

form .field-input input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-style: none;
  border-bottom: 1px solid #b4b4b4;
}
