.header {
  background: #ffffff;
  -webkit-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.13);
  -moz-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.13);
  box-shadow: 1px 0px 5px -1px rgba(128, 128, 128, 0.13);
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 17px;
}

.menu {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu, .btn-icon {
  margin-left: 20px;
}

.menu, .btn-icon:nth-of-type(1) {
  color: var(--blue-default);
  transition: .2s linear;
}

.menu, .btn-icon:nth-of-type(1):hover {
  color: var(--dark-text);
}