* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 outline: none;
 list-style: none;
 text-decoration: none;
}

:root {
  --cancel: #f28b82;
  --primary: #a0d266;
  --black: #000000;
  --blue-default: #6ae2ed;
  --dark-content: #16202c;
  --dark-menu: #192734;
  --bg-body: #f0f3f8;
  --dark-text: #8899a6;
  --yellow-color: #fff475;
}

html,
body, 
#root {
  height: 100%;
  background: var(--bg-body);
}

.container {
  width: 100%;
  padding: 13px 50px;
}

.list::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background: transparent;
}

.list {
  flex: 0 0 400px;
  padding-top: 80px;
  padding-right: 50px;
  overflow-y: auto;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  order: 2;
}

.btn-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #000000;
}
